:root{
    /* Light Mode pallete */
    --color-primary: #fef6e4;
    --color-different: rgb(252, 50, 151);
    --color-dark: #001858;
    --color-background: orange;
    --color-tertiary: #ffd2bb;
    /* Dark mode pallete */
    /* --color-dark-background: #16161a;
    --color-dark-different: #7f5af0;
    --color-light: #fff;
    --color-dark-primary: #94a1b2;
    --color-dark-tertiary: #2cb67d; */

}


body{
    background-color:var(--color-background);
    color: var(--color-dark);
}
/* HEADER */
header{
    text-align: center;
}

/* MAIN CONTENT AND IMAGE */
.content{
    margin: 2rem auto 1rem auto;
    max-width: 60vw;
    height: 80vh;
    border: 2px solid var(--color-dark);
    text-align: center;
    background-color: var(--color-tertiary);
    border-radius: 5px;
    
    
}
.img{
    object-fit: contain;
    width: 90%;
    height: 80%;
}
.img:hover{
    transform: scale(1.07);
    transition: all 0.2s;
}

/* NAV PANE */
.nav{
    display: flex;
    flex-direction: row-reverse;
    
}


/* CONTROLS */
.controls{
    display: flex;   
    justify-content: space-around;
    margin: auto;
    background-color: var(--color-different);
    width: 30%;
    border-radius: 3px;
    
}


/* BUTTON */
.btn {
    justify-content: center;
    padding: 0.5rem;
    margin: 0.5rem 0.4rem;
    background-color: var(--color-different);
    color: var(--color-dark);
    border-radius: 10px;
    border: 2px solid var(--color-primary);
}
.btn:hover{
    transform: scale(1.1);
    background-color: var(--color-dark);
    color: var(--color-primary);
    transition: all 0.2s;
}


/* WASTE TIME */
.waste{
    border: 2px black solid;
    text-align: center;
    vertical-align: middle;
    float: right;
    height: max-content;
    width: 20vw;
    margin: 2rem auto ;
    /* margin-right: 2rem; */
    padding: 1rem;
    background-color: var(--color-tertiary);

}
.waste:hover{
    background-color: var(--color-dark);
    color: var(--color-primary);
    transition: all 0.2s;
}




/* CONTACTS */
.contact{
    display: flex;
    margin: 2rem 4rem;
    list-style: none;
    justify-content: center;
    
}

/* ICONS */
.icons{
    padding-right: 1rem;
}
.icons:hover{
    transform: scale(1.3);   
    transition: transfrom 0.2s;
}


/* MEDIA QUERIES */
@media screen and (min-width:320px) and (max-width: 500px) {
    .content{
        height: 400px;
    }
    .img{
        height: 300px;
    }
    .controls{
        display: flex;
    flex-direction: column;
    vertical-align: middle;
    text-align: center;
    align-items: center;
        padding: 1rem 1rem;
    }
    .noUse{
        width: 200px;
        padding: 0.2rem;
    }
    .btn{
        margin: auto;
    }
    
    .nav{
        flex-direction: column-reverse;
    }
}

@media screen and (min-width:500px) and (max-width: 680px){
    .controls{
        display: flex;
        flex-direction: column;
        vertical-align: middle;
        text-align: center;
        align-items: center;
    }
}

@media screen and (min-width:500px) and (max-width: 800px){
    .nav{
        flex-direction: column-reverse;
    }
    .controls{
        width: max-content;
    }
    
    
}

/* DARK MODE */
.darkMode_body{
    background-color: var(--color-dark-background);
    color: var(--color-light);
}
.darkMode_content{
    border: 2px solid var(--color-light);
    background-color: var(--color-dark-primary);
}
.darkMode_controls{
    background-color: var(--color-dark-tertiary)
}
.darkMode_btn{
    background-color: var(--color-dark-tertiary);
    color: var(--color-light);
    border: 2px solid var(--color-dark-primary);
}
.darkMode_btn:hover{
    background-color: var(--color-dark-different) ;
    color: var(--color-light);
}
.darkMode_waste{
    background-color: var(--color-dark-primary) ;
    color: var(--color-dark-different);
}
.darkMode_waste:hover{
    background-color: var(--color-dark-different);
    color: var(--color-light);
}
